<%- include('./partials/header') %>
<div class="jumbotron">
  <h2><%= user.name.split(' ')[0] %>'s Dashboard</h2>
  <p>
    Welcome to your dashboard! When you add a movie to your watched list,
    it will show up below. You can also see what rules you've added, and how
    many people have liked them!
  </p> 
</div>
<div class="watched">
  <% watched.forEach((w) => { %>
    <div class="watched-movie">
      <h3><%= w.title %></h3>
      <% if (!w.rules.length) { %>
        <h5>No Rules</h5>
      <% } else { %>
        <h5>Rules</h5>
      <% } %>
      <ul>
        <li><span class="toasts">3</span>"Drink when something happens"</li>
      </ul>
    </div>
  <% }) %>
<!-- <% watched.forEach((w) => { %>
  <div class="card card-cascade">
    <div class="view view-cascade overlay">
      <img class="card-img-top" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/<%-w.poster_path %>" alt="Card image cap">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <div class="card-body card-body-cascade">
      <h4 class="font-weight-bold card-title"><%= w.title %></h4>
      <h5 class="font-weight-bold card-content"><%= w.rules.length %> Rules</h5>
      <a class="btn btn-success btn-details" href="/movies/<%= w.movieId %>">More!</a>
    </div>
  </div>
<% }) %> -->
</div>


<%- include('./partials/footer') %>
