<%- include('./partials/header') %>
<div class="jumbotron">
  <h1>Cage Page</h1>
  <form class="form-inline my-2 my-lg-0" method="GET" action="/movies/search/" >
    <input class="form-control mr-sm-2" name="title" type="title" placeholder="Search" aria-label="title">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
  <div class="movie-list card-group">
    <div class="row">
      <% list.forEach(function(film) { %>
      <div class="card card-cascade">
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/<%-film.poster_path %>" alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body card-body-cascade">
          <h5 class="font-weight-bold card-title"><%= film.title %></h5>
          <a class="btn btn-success btn-details" href="/movies/<%= film.movieId %>">More!</a>
        </div>
        <div class="card-footer">
          <small class="text-muted"><%= user.watched.includes(film.movieId) ? 'Watched' : 'Yet to watch' %></small>
        </div>
      </div>
    <% }); %>
  </div>
</div>
<%- include('./partials/footer') %>
