<%- include('./partials/header') %>
<div class="jumbotron">
  <h1>Cage Page</h1>
  <p>
    Welcome to Cage Page! Your one-stop-shop for getting drunk while suffering
    through Nicolas Cage films. Scroll down to see all of the films, or search
    for whichever film you have in mind. Click on More! to see info about the
    film, and user created drinking game rules. Log in to add the movie to your
    watched list, and then leave a rule for others to use on their next watch.
  </p>
  <p id="testing-notes">
    TESTING NOTES: Search is not fuzzy. Movie titles will have to match exactly
    to the title of the movie. Rules cannot as of right now be deleted, but can/
    will be manually purged if need be.
  </p>
  <form class="form-inline my-2 my-lg-0" method="GET" action="/movies/search/" >
    <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>

    <div class="movie-list card-group">
      <div class="row">
        <% list.cast.forEach(function(film) { %>
        <div class="card card-cascade">
          <div class="view view-cascade overlay">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/<%-film.poster_path %>" alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <div class="card-body card-body-cascade">
            <h4 class="font-weight-bold card-title"><%= film.title %></h4>
            <a class="btn btn-success btn-details" href="/movies/<%= film.id %>">More!</a>
          </div>
        </div>
      <% }); %>
    </div>
    </div>
<%- include('./partials/footer') %>
