<%- include('./partials/header') %>
<div class="jumbotron">
  <h1>Cage Page</h1>
  <form class="form-inline my-2 my-lg-0" method="GET" action="/movies/search/" >
    <input class="form-control mr-sm-2" name="title" type="title" placeholder="Search" aria-label="title">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
  <div class="movie-list">
    <div class="row card-container">
      <% list.forEach(function(film) { %>
        <div class="col l2 m4 s6">
          <div class="card hoverable">
            <div class="card-image">
              <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/<%-film.poster_path %>" alt="Card image cap">
            </div>
            <div class="card-content">
              <span class="card-title"><%= film.title %></span>
            </div>
            <div class="card-action">
              <a href="/movies/<%= film.movieId %>">More!</a>
              <small class="right text-muted"><%= user.watched.includes(film.movieId) ? 'Watched' : 'Not watched' %></small>
            </div>
          </div>
        </div>
    <% }); %>
  </div>
</div>
<%- include('./partials/footer') %>
