<%- include('./partials/header') %>
<div class="movie-list">
  <div class="row card-container">
    <% list.forEach(function(film) { %>
    <div class="col l2 m4 s6">
      <div class="card">
        <div class="card-image">
          <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/<%-film.poster_path %>" alt="Card image cap">
        </div>
        <div class="card-content">
          <span class="card-title"><%= film.title %></span>
        </div>
        <div class="card-action">
          <a href="/movies/<%= film.movieId %>">More!</a>
          <small class="text-muted"><%= user.watched.includes(film.movieId) ? 'Watched' : 'Yet to watch' %></small>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
<%- include('./partials/footer') %>
