<%- include('./partials/header') %>

<div class="card-details" id="details">
  <div class="col-md-4">
    <div class="img-show">
      <img class="card-show" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/<%-movieDetails.poster_path %>" alt="Card image cap">
    </div>
  </div>
  <div class"col-md-4">
    <h1><%= movieDetails.title %></h1>
    <% if (movieDetails.genres.length > 0) { %>
    <ul>
      <% movieDetails.genres.forEach(function(genre) { %>
      <li><%= genre.name %></li>
      <% }) %>
    </ul>
    <% } %>
    <h5>User Rating:
      <% if (Math.round(movieDetails.vote_average / 2) < 2) { %>
        <i class="material-icons">sentiment_very_dissatisfied</i>
      <% } else if (Math.round(movieDetails.vote_average / 2) === 2) { %>
        <i class="material-icons">sentiment_dissatisfied</i>
      <% } else if (Math.round(movieDetails.vote_average / 2) === 3) { %>
        <i class="material-icons">sentiment_neutral</i>
      <% } else if (Math.round(movieDetails.vote_average / 2) === 4) { %>
        <i class="material-icons">sentiment_satisfied</i>
      <% } else if (Math.round(movieDetails.vote_average / 2) === 5) { %>
        <i class="material-icons">sentiment_very_satisfied</i>
      <% } %>
      <span><%= Math.round(movieDetails.vote_average) %>/10</span>
    </h5>
    <p><%= movieDetails.overview %></p>
    <% for (i = 0; i < 3; i++) { %>
    <% if (castDetails.cast[i].name === "Nicolas Cage") { %>
    <h3>Nicolas Cage Stars in this movie</h3>
    <% break %>
    <% } else if (i === 2){ %>
    <h3>Nicolas Cage Cameos in this movie</h3>
    <% } %>
    <% } %>
    <% if (user) { %>
      <% if (user.watched.filter(watch => watch == movieDetails.id).length) { %>
        <button class="btn btn-danger" disabled>Watched</button>
      <% } else { %>
        <form class="" action="/movies/<%= movieDetails.id %>" method="post">
          <button class="btn btn-success">Watched</button>
        </form>
      <% } %>
    <% } %>
  </div>
  <div class="col-md-4">
    <h2>Drinking Rules:</h2>
    <h3>Drink...</h3>
    <% if (typeof movie.rules !== 'undefined') { %>
      <% movie.rules.forEach((r) => { %>
        <div class="card">
          <div class="card-body rules">
            <p class="card-text rules"><%= r.content %></p>
          </div>
          <div class="text-muted">
            <p class=""><%=r.userName %></p>
          </div>
        </div>
      <% }) %>
    <% } %>
    <div class="input-group col-md-4">
      <form id="add-review-form" method="POST" action="/movies/<%= movieDetails.id %>/rules">
        <input type="text" name="content" class="form-control" aria-describedby="basic-addon2">
        <input type="text" name="userName" value="<%= user.name %>" id="user-name">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit" value="Add Review">Submit</button>
        </div>

      </form>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>
